<div class="au-card ">
   
    <form (ngSubmit)="catAdd()">
        <input type="hidden" name="$key" [(ngModel)]="catData.$key">
        <div class="form-goup">
            <label>Category Name</label>
            <input type="text" class="form-control" [(ngModel)]="catData.cname" name="cname">   
        </div>
        <div class="form-group">
            <label>Category Description</label>
            <input type="text"  class="form-control"[(ngModel)]="catData.cdes" name="cdes">
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date"  class="form-control"[(ngModel)]="catData.cdate" name="cdate">
        </div>
        <button type="submit" class="btn btn-primary">Add Category</button>
    </form>
   
</div>